* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/pic/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  .background {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    .language {
      button {
        font-size: 36px;
        text-align: center;
        margin: 0 auto;
      }
    }
    .box {
      margin: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

.small-box {
  width: 300px;
  margin: 10px;
  transition: box-shadow 2s, filter 2s;
  &:hover {
    box-shadow: 5px 5px 5px black;
    filter: brightness(1.5) contrast(1.2);
  }
  .preview {
    width: 100%;
  }
  .content {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .head {
    border-radius: 100%;
    width: 20%;
    height: 20%;
    margin-right: 15px;
  }
  .word {
    list-style-type: none;
    align-self: center;
    color: white;
  }
}
